<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="CorporateServers" value="CODATAAPP,COFS" />
    <add key="SecureServers" value="10.81.250.200,CODATASRV" />
    <add key="SecureConnectionString" value="Password=Veritas1!1;Persist Security Info=False;User ID=Veritas;Initial Catalog=Portunus;Data Source=10.81.250.200;Connection Timeout=5;" />
    <add key="CorpConnectionString" value="Password=DPUser1!1;Persist Security Info=False;User ID=DPUser1;Initial Catalog=Portunus;Data Source=COCSSQL02;Connection Timeout=5;" />
    <add key="sFTPHost" value="192.168.254.30" />
    <add key="sFTPUser" value="coauto" />
    <add key="sFTPPass" value="*Colorado1" />
  </appSettings>
</configuration>